<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row animated fadeIn">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Panel de busqueda</h3>

                <!-- <input #input (keyup)="busqueda( input.value )" type="text" class="form-control" placeholder="Buscar ..."> -->
                <input #input  type="text" class="form-control" placeholder="Buscar ...">

                <button (click)="busqueda( input.value )"  type="button" class="btn btn-primary">Buscar</button>




            </div>


            <div class="col-12">
            <h5 class="card-title">Paises registrados </h5>

               <table class="table table-hover">
                    <thead>
                        <tr>

                            <tr *ngFor="let pais of paises">

                                <td>  <p  style="font-size:20px;" class="glyphicon glyphicon-asterisk"></p>* {{ pais.nombre }}</td>
                            </tr>

                    </thead>
                    <tbody></tbody>
                </table>
             </div>



       </div> <!-- fin div card-->




    </div>
</div>






<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h3 class="card-title">Resultado de busqueda ( <small>   </small> )</h3>

                <table class="table table-hover" id="tablaBase">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Razón Social</th>
                            <th>Nombre</th>
                            <th>Región</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody  id="myTable">

                        <tr *ngFor="let p of proveedor">

                            <td>{{ p.cliente_id  }}</td>
                            <td>{{ p.razon_social }}</td>
                            <td>{{ p.nombre_fantasia }}</td>
                            <td> {{ p.region.nombre }}</td>

                        </tr>
                        <tr *ngFor="let p1 of proveedor2">

                          <td>{{ p1.cliente_id  }}</td>
                          <td>{{ p1.razon_social }}</td>
                          <td>{{ p1.nombre_fantasia }}</td>
                          <td> {{ p1.region.nombre }}</td>

                      </tr>


                    </tbody>
                </table>
                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                {{proveedor}}

            </div>
        </div>
    </div>
</div>
